.sliderbox {width: 260px;	height: 290px;	position: relative;	border-radius: 5px;	z-index: 10;	overflow: hidden;
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
	box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}
.iosslider {position: relative;top: 0;	left: 0;	overflow: hidden;	width: 100%;	height: 100%;	}
.iosslider .slider {	width: 100%;height: 100%;}
.iosslider .slide {	float: left;width: 100%;	height: 100%;		text-align: center;}
.iosslider  .slide img{ max-width: 100%; max-height: 100%; vertical-align: middle;}

.slider-nav {position: absolute;	bottom: 10px; right: 10px; left: 10px; background: #3d3d3d; background: rgba(61,61,61,0.75);z-index: 3;min-height: 50px; border-radius: 20px; overflow: hidden;}
.slider-nav .slide-next ,
.slider-nav .slide-prev  {position: absolute; top: 0; bottom:0;font-size: 40px; text-align: center; width: 30px; color: #a9aaac;}
.slider-nav .slide-next {right:0;} 
.slider-nav .slide-prev  {left:0; }
.slider-nav .slide-next:before ,
.slider-nav .slide-prev:before {position: absolute; left: 0; width: 100%;top: 50%; margin-top: -23px;}
.slider-nav .slide-next:before {content:'\203A';}
.slider-nav .slide-prev:before {content:'\2039';}
.slider-nav .slide-next:hover ,
.slider-nav .slide-prev:hover {color:#fff;}  
.slide-title {display: none;font-size: 18px; line-height: 20px;padding: 3px 40px; text-align: center; color: #fff; text-shadow: 1px 1px 1px #3d3d3d;}
.slide-title.active {display: block;}


 