/* fonts */
@font-face {
	font-family: 'somefont';
	src: url('../fonts/somefont.eot');
	src: local('O'),
	url('../fonts/somefont.woff') format('woff'),
	url('../fonts/somefont.ttf') format('truetype'),
	url('../fonts/somefont.svg') format('svg');
	font-weight: normal;
	font-style: normal;}
/* /fonts*/


/* helping adds*/
.clear{clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;}
.juster{display:inline-block;width:100%;height:0;overflow:hidden;}
.vfix{height:100%;width:0px;display:inline-block;vertical-align:middle;}
.cfix:after{content:"";clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;display:block;}
.hidden {display: none;}

.zHiddenBlock{position:absolute;left:-9999px;top:-9999px;}

/* /helping adds*/

/* base styles*/
html{height:100%}
body{min-height:100%;min-width:1000px;font-family:'Roboto', arial,sans-serif;font-size:14px;background: #fff; color:#323232;position:relative; overflow-y: scroll;  }
img{vertical-align:bottom;border:0;max-width:100%;}
/* /base styles */


/* icons styling*/
/* /icons styling*/


/* base typo*/
.ctext h1,.ctext h2,.ctext h3,.ctext h4,.ctext h5,.mainheading,.subheading,.thirdheading,.fourheading,.fiveheading{font-weight:700;margin-bottom:1em;}
.travel .ctext h1, .travel .ctext h2,.travel .ctext h3,.travel .ctext h4,.travel .ctext h5,.travel .mainheading,.travel .subheading,.travel .thirdheading,.travel .fourheading,.travel .fiveheading {color: #002842;}
.excursions .ctext h1, .excursions .ctext h2,.excursions .ctext h3,.excursions .ctext h4,.excursions .ctext h5,.excursions .mainheading,.excursions .subheading,.excursions .thirdheading,.excursions .fourheading,.excursions .fiveheading {color: #6a2703;}
.ctext h1,.ctext h2,.ctext h3,.ctext h4,.ctext h5 {text-indent: 25px;}
a{color:#12c;border:0;}
a:hover{color:#dd4b39;}
p{margin:0;}
.mainheading,.ctext h1{font-size: 25px;}
.subheading,.ctext h2{font-size: 18px;}
.thirdheading,.ctext h3{font-size: 16px;}
.fourheading,.ctext h4{font-size: 14px;}
.fiveheading,.ctext h5{font-size: 10px;}
.ctext {line-height: 20px;}
.ctext p{margin:0 0 10px 0;text-indent: 25px;}
.ctext ul{margin:10px 20px;}
.ctext p:last-child,.ctext ul:last-child{margin-bottom:0;}
.ctext table{border-collapse:collapse;}
/* /base typo*/

/*common blocks*/
.rope:after ,
.rope:before { content: url(../images/rope.png); position: absolute; top: -20px; z-index: 6;}
.rope:after {right: 23px;}
.rope:before {left:23px;}
/*/common blocks*/

/* wraps styling*/

.mbox{width:960px;margin:0 auto;position:relative;z-index:1;}
.mbox:after{content:"";clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;display:block;}

.box {border-radius: 20px; background: #fff; padding:12px 23px; margin-bottom: 33px;
-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.4)r;
box-shadow: 0 2px 5px rgba(0,0,0,0.4);}


/* /wraps styling*/





/* HEADER BLOCKS */
.header {padding-top:77px;}
.header-top {height: 58px;  overflow: hidden; position: fixed;z-index:100; left: 0;top: 0;width: 100%;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
box-shadow: 0 1px 2px rgba(0,0,0,0.4);	}
.excursions .header-top { 
background: #1e5799;
background: -moz-linear-gradient(top, #1e5799 0%, #dd7e4a 0%, #aa4918 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#dd7e4a), color-stop(100%,#aa4918));
background: -webkit-linear-gradient(top, #1e5799 0%,#dd7e4a 0%,#aa4918 100%);
background: -o-linear-gradient(top, #1e5799 0%,#dd7e4a 0%,#aa4918 100%);
background: -ms-linear-gradient(top, #1e5799 0%,#dd7e4a 0%,#aa4918 100%);
background: linear-gradient(to bottom, #1e5799 0%,#dd7e4a 0%,#aa4918 100%);
}
.travel .header-top { 
background: #4a97c6;
background: -moz-linear-gradient(top, #4a97c6 0%, #0564a2 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a97c6), color-stop(100%,#0564a2));
background: -webkit-linear-gradient(top, #4a97c6 0%,#0564a2 100%);
background: -o-linear-gradient(top, #4a97c6 0%,#0564a2 100%);
background: -ms-linear-gradient(top, #4a97c6 0%,#0564a2 100%);
background: linear-gradient(to bottom, #4a97c6 0%,#0564a2 100%);
}
.header-button {position: absolute;right: 0;top: 13px;}
.header-social {width: 212px; position: absolute;right: 0;top: 7px; padding: 13px 10px;}
.header-social .social-item {margin:0 5px;}


/* header menu */
.header-menu {padding-top: 13px; max-width: 730px;} 
.header-menu ul {}
.header-menu li {display: inline;}
.header-menu a {display: inline-block; padding: 8px 7px;  font-size: 14px; text-decoration: none; color:#fff; text-transform: uppercase; border-radius: 12px; background: transparent; margin-bottom: 10px;
text-shadow: 1px 1px 1px #999;
text-shadow: 1px 1px 1px rgba(0,0,0,0.4);}
.travel .header-menu li:hover a ,
.travel .header-menu li.active a {background: #0564a2;
background: -moz-linear-gradient(top, #0564a2 0%, #4a97c6 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0564a2), color-stop(100%,#4a97c6));
background: -webkit-linear-gradient(top, #0564a2 0%,#4a97c6 100%);
background: -o-linear-gradient(top, #0564a2 0%,#4a97c6 100%);
background: -ms-linear-gradient(top, #0564a2 0%,#4a97c6 100%);
background: linear-gradient(to bottom, #0564a2 0%,#4a97c6 100%);}

.excursions .header-menu li:hover a ,
.excursions .header-menu li.active a {
background: #aa4918;
background: -moz-linear-gradient(top, #aa4918 0%, #dd7e4a 100%, #1e5799 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aa4918), color-stop(100%,#dd7e4a), color-stop(100%,#1e5799));
background: -webkit-linear-gradient(top, #aa4918 0%,#dd7e4a 100%,#1e5799 100%);
background: -o-linear-gradient(top, #aa4918 0%,#dd7e4a 100%,#1e5799 100%);
background: -ms-linear-gradient(top, #aa4918 0%,#dd7e4a 100%,#1e5799 100%);
background: linear-gradient(to bottom, #aa4918 0%,#dd7e4a 100%,#1e5799 100%);
}


.logo {display: block;float: left; margin-right: 45px;}
.header .header-phone {padding-top: 7px;margin-right: 250px;}
.lang-heading, .phone-title {font-size: 16px; color:#ce0710; text-shadow: 1px 1px 1px #999; text-shadow: 1px 1px 1px rgba(255,255,255,0.4); font-weight: 500;}
.phone-title {margin-bottom: 5px;}
.phone-number {font-weight: 700;font-size: 30px; color: #002842;text-decoration: none;}
.phone-code {font-size: 20px; top: -8px; position: relative; margin-right: 3px;}


.header .lang {position: absolute; right: 0; top: 85px; }
.lang.rope {padding:20px 19px 12px 19px;}
.lang-heading {display: inline-block; vertical-align: middle; margin-right: 7px; max-width: 102px;}
.lang a{display: inline-block; width: 19px; vertical-align: bottom;margin-right: 4px;opacity: 0.4; border: 1px solid #ddd;
-webkit-transition: all 400ms ease;
-moz-transition: all 400ms ease;
-ms-transition: all 400ms ease;
-o-transition: all 400ms ease;
transition: all 400ms ease;}
.lang a:hover,
.lang a.active{opacity: 1}



/*MAIN BLOCKS */
.main{background-repeat:no-repeat; background-position: center top; background-size: cover; margin-top: -185px; padding-top: 270px;overflow: hidden;}
.travel .main {background-image: url(../images/bg-travel.svg);background-color: #126108;}
.excursions .main {background-image: url(../images/bg-excursions.jpg);background-color: #a3c810;}
/* .main .sidebar_w{width:180px;float:left;}
.main .sidebar{margin:0;}

.main .content_w{float:left;width:780px;}
.main .content{margin:0;} */


/* directions */
.directions { padding-bottom: 10px;}
.directions-heading {text-transform: uppercase;text-align: center;margin-bottom: 15px;}
.directions-content {overflow: hidden; }
.direction {display: block; position: relative; float: left;width: 290px; height: 170px; text-align: center;border: 1px solid gray; border-radius: 0 24px ; margin:11px 18px 11px 0; overflow: hidden;z-index: 2; opacity: 0.95;	
-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
box-shadow:  0 2px 6px rgba(0,0,0,0.2);
-webkit-transition: all 150ms linear;
-moz-transition: all 150ms linear;
-ms-transition: all 150ms linear;
-o-transition: all 150ms linear;
transition: all 150ms linear;}
.direction:before {content:'';position: absolute; left: 0; top: 0;width: 100%;height: 100%;z-index: 3; 
-webkit-box-shadow: inset 0 -2px 3px rgba(0,0,0,0.4);
box-shadow:inset 0 -2px 3px rgba(0,0,0,0.4);}
.direction img {height: 100%; width: 100%; z-index: -1;
-moz-transform: scale(1);
-webkit-transform: scale(1);
-o-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
-webkit-transition: all 500ms linear;
-moz-transition: all 500ms linear;
-ms-transition: all 500ms linear;
-o-transition: all 500ms linear;
transition: all 500ms linear;}
.direction:hover {opacity: 1; border-radius: 24px 0}
.direction:hover img{
-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1)}
.direction-title {position: absolute; right: 0;bottom: 20px; width: 193px; min-height: 70px; border-radius: 10px 0 0 10px; text-align: center; color: #fff; text-transform: uppercase; font-size: 30px; line-height: 70px; text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
-webkit-box-shadow:0 0 1px rgba(0,0,0,0.2), inset 0 -1px 1px rgba(0,0,0,0.2);
box-shadow:0 0 1px rgba(0,0,0,0.2), inset 0 -1px 1px rgba(0,0,0,0.2)}

.direction:nth-child(3n+1) {border-color: #f4ad49;}
.direction:nth-child(3n+1) .direction-title {
background: #f3ac49;
background: -moz-linear-gradient(top, #f3ac49 0%, #b98337 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3ac49), color-stop(100%,#b98337));
background: -webkit-linear-gradient(top, #f3ac49 0%,#b98337 100%);
background: -o-linear-gradient(top, #f3ac49 0%,#b98337 100%);
background: -ms-linear-gradient(top, #f3ac49 0%,#b98337 100%);
background: linear-gradient(to bottom, #f3ac49 0%,#b98337 100%);}

.direction:nth-child(3n+2) {border-color: #0bacd3;}
.direction:nth-child(3n+2) .direction-title {
background: #0bacd3;
background: -moz-linear-gradient(top, #0bacd3 0%, #08829f 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0bacd3), color-stop(100%,#08829f));
background: -webkit-linear-gradient(top, #0bacd3 0%,#08829f 100%);
background: -o-linear-gradient(top, #0bacd3 0%,#08829f 100%);
background: -ms-linear-gradient(top, #0bacd3 0%,#08829f 100%);
background: linear-gradient(to bottom, #0bacd3 0%,#08829f 100%);
}

.direction:nth-child(3n+3) {border-color: #51bf87; margin-right: 0;}
.direction:nth-child(3n+3) .direction-title {
background: #51bf87;
background: -moz-linear-gradient(top, #51bf87 0%, #3d9066 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#51bf87), color-stop(100%,#3d9066));
background: -webkit-linear-gradient(top, #51bf87 0%,#3d9066 100%);
background: -o-linear-gradient(top, #51bf87 0%,#3d9066 100%);
background: -ms-linear-gradient(top, #51bf87 0%,#3d9066 100%);
background: linear-gradient(to bottom, #51bf87 0%,#3d9066 100%);
}


/* intro */
.intro {padding: 20px 0;
-webkit-box-shadow: 0 -2px 3px rgba(0,0,0,0.4);
box-shadow: 0 -2px 3px rgba(0,0,0,0.4);}
.intro-left {float: left; width: 260px; }
.intro-right {margin-left: 280px;}
{height: 220px; border-radius: 5px;
-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
box-shadow: 0 2px 6px rgba(0,0,0,0.2)}


/* nextEvents */
.nextEvents {float: left; width: 700px; padding: 17px 20px 0px 20px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}
.nextEvents-heading {text-transform: uppercase;margin-bottom: 20px;}

	
/* shortArticles */
.shortArticles {}
.shortArticle {overflow: hidden; border-bottom: 1px solid #eeeeee; padding-bottom: 11px;margin-bottom: 11px;}
.shortArticle:last-child {border: 0;}
.shortArticle-image {float: left; display: block; width: 58px; height: 58px; border: 1px solid #ded6d9; text-align: center; overflow: hidden;}
.shortArticle-image img {vertical-align: middle;
-moz-transform: scale(1);
-webkit-transform: scale(1);
-o-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
-webkit-transition: all 500ms linear;
-moz-transition: all 500ms linear;
-ms-transition: all 500ms linear;
-o-transition: all 500ms linear;
transition: all 500ms linear;}
.shortArticle-image:hover img {
-moz-transform: scale(1.07);
-webkit-transform: scale(1.07);
-o-transform: scale(1.07);
-ms-transform: scale(1.07);
transform: scale(1.07)}	
.shortArticle-desc {margin-left: 70px;}
.shortArticle-title {color: #313131;  font-size: 16px; margin-bottom: 7px;font-weight: 500}
.shortArticle-title a {text-decoration: none; color: inherit;}
.shortArticle-title a:hover {text-decoration: underline;}
.shortArticle-text {line-height: 18px; color:#999999;}


/* caledarBpx */
.calendarBox {float: right; width: 230px; padding: 30px 20px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}



/*FOOTER BLOCKS */
.footer_placeholder{height: 240px;}
.footer{height: 240px;position:absolute;bottom:0;left:0;width:100%;z-index:2;overflow:hidden;color:#fff;
text-shadow: 1px 1px 1px #999;
text-shadow: 1px 1px 1px rgba(0,0,0,0.4)}
.travel .footer{
background: #56a24f;
background: -moz-linear-gradient(top, #56a24f 0%, #0e6d19 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56a24f), color-stop(100%,#0e6d19));
background: -webkit-linear-gradient(top, #56a24f 0%,#0e6d19 100%);
background: -o-linear-gradient(top, #56a24f 0%,#0e6d19 100%);
background: -ms-linear-gradient(top, #56a24f 0%,#0e6d19 100%);
background: linear-gradient(to bottom, #56a24f 0%,#0e6d19 100%);}
.excursions .footer {
	background: #df804c;
background: -moz-linear-gradient(top, #df804c 0%, #a84816 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#df804c), color-stop(100%,#a84816));
background: -webkit-linear-gradient(top, #df804c 0%,#a84816 100%);
background: -o-linear-gradient(top, #df804c 0%,#a84816 100%);
background: -ms-linear-gradient(top, #df804c 0%,#a84816 100%);
background: linear-gradient(to bottom, #df804c 0%,#a84816 100%);
}
.footer .mbox {background: url(../images/bg-footer.png) no-repeat left 57px top 14px; min-height: 240px; padding-top: 15px}
.footer-left {float: left; width: 170px;}
.footer-right {margin-left: 230px;}


.social {}
.social-heading { background: #fbf8f1; border-radius: 5px; margin-bottom: 8px; padding: 16px 15px 18px; text-align: center;}
.social-items {position: relative; padding: 23px 28px 5px ;background: #fbf8f1; border-radius: 5px;}
.social-item {display: inline-block;width: 40px;height: 40px; margin: 0 7px 15px; border-radius: 5px;
-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,0.2);
box-shadow: inset 0 -2px 0 rgba(0,0,0,0.2);
-webkit-transition: all 400ms ease-in;
-moz-transition: all 400ms ease-in;
-ms-transition: all 400ms ease-in;
-o-transition: all 400ms ease-in;
transition: all 400ms ease-in;}
.social-item.icon-vk {background: url(../images/icon-vk.png) no-repeat center center #3f729b}
.social-item.icon-fb {background: url(../images/icon-fb.png) no-repeat center center #3b5998;}
.social-item.icon-gg {background:  url(../images/icon-gg.png) no-repeat center center #dd4b39;}
.social-item.icon-inst {background:  url(../images/icon-inst.png) no-repeat center center #634d42;}
.social-item:hover {opacity:0.8;}
.social-item:active {transition:0;
-webkit-box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.2);
box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.2);}


.footer-menu {padding-top: 8px;margin-bottom: 28px;}
.footer-menu ul {text-align: right;}
.footer-menu li {display: inline;margin-left: 15px;}
.footer-menu a {text-decoration: none; color:#fff;  
-webkit-transition: all 300ms ease-in;
-moz-transition: all 300ms ease-in;
-ms-transition: all 300ms ease-in;
-o-transition: all 300ms ease-in;
transition: all 300ms ease-in;}
.footer-menu a:hover {color: #ffff33;}


.footer .subscribe {margin-bottom: 30px;}
.subscribe {overflow: hidden;border-top:1px solid #acacac; border-bottom: 1px solid #acacac;  border-color: rgba(172,172,172,0.2);padding: 28px 0 ; }
.subscribe .form-col {float:left; width: 240px;margin-left: 30px;}
.subscribe .form-col:nth-child(1) {width: 180px; margin-left: 0;padding-right: 7px;}
.subscribe p {font-size: 16px;line-height: 20px;}
.subscribe .button {display: block;}


.copyright {padding-left: 175px}



/*mainpage*/
.mainPage {position: fixed;left: 0;top: 0;width: 100%; bottom:0; min-height: 500px; z-index:700;overflow: hidden;}

/* mainpage left right */
.mainPage-right, .mainPage-left  {position: absolute; top: 0;bottom: 0; overflow: hidden;
-webkit-transition: all 1.5s linear;
-moz-transition: all 1.5s linear;
-ms-transition: all 1.5s linear;
-o-transition: all 1.5s linear;
transition: all 1.5s linear;}
.bg-gradient {left: 0;top: 0;bottom: 0;width: 100%; position: absolute;z-index: 1;}
.bg-gradient img{vertical-align: bottom;}
.mainPage-left {left: 0;right: 50%;text-align: right;}
.mainPage-left .bg-gradient {
background: #319de6;
background: -moz-linear-gradient(top, #319de6 0%, #dffcff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#319de6), color-stop(100%,#dffcff));
background: -webkit-linear-gradient(top, #319de6 0%,#dffcff 100%);
background: -o-linear-gradient(top, #319de6 0%,#dffcff 100%);
background: -ms-linear-gradient(top, #319de6 0%,#dffcff 100%);
background: linear-gradient(to bottom, #319de6 0%,#dffcff 100%);
}
.mainPage-right {left: 50%;right: 0; text-align: left;}
.mainPage-right .bg-gradient {
background: #d9d0bb;
background: -moz-linear-gradient(top, #d9d0bb 0%, #f1eee7 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9d0bb), color-stop(100%,#f1eee7));
background: -webkit-linear-gradient(top, #d9d0bb 0%,#f1eee7 100%);
background: -o-linear-gradient(top, #d9d0bb 0%,#f1eee7 100%);
background: -ms-linear-gradient(top, #d9d0bb 0%,#f1eee7 100%);
background: linear-gradient(to bottom, #d9d0bb 0%,#f1eee7 100%);
}

/*mainpage blocks*/
.mainPage-phone {position: absolute; right: 45%;top: 20px;z-index: 5;  }
.mainPage-lang {position: absolute; left: 45%;top: 30px;z-index: 5;}

/*mainpage button */
.mainPage-button { text-decoration: none;  font-family: 'Roboto Condensed', Arial, sans-serif; text-align: center;
padding:12px 20px;white-space: nowrap; max-height: 102px; cursor: pointer;
-webkit-transition: all 800ms ease-in;
-moz-transition: all 800ms ease-in;
-ms-transition: all 800ms ease-in;
-o-transition: all 800ms ease-in;
transition: all 800ms ease;
-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.22);
box-shadow: 0 2px 6px rgba(0,0,0,.22);
text-shadow: 0 1px 1px rgba(255,255,255,.75);
background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed));
background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%);
background: -o-linear-gradient(top, #ffffff 0%,#ededed 100%);
background: -ms-linear-gradient(top, #ffffff 0%,#ededed 100%);
background: linear-gradient(to bottom, #ffffff 0%,#ededed 100%);}
.mainPage-button:hover {
background: #ededed;
background: -moz-linear-gradient(top, #ededed 0%, #ffffff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#ffffff));
background: -webkit-linear-gradient(top, #ededed 0%,#ffffff 100%);
background: -o-linear-gradient(top, #ededed 0%,#ffffff 100%);
background: -ms-linear-gradient(top, #ededed 0%,#ffffff 100%);
background: linear-gradient(to bottom, #ededed 0%,#ffffff 100%);
}
.mainPage-button:active {
-webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.5);
box-shadow: inset 1px 1px 2px rgba(0,0,0,0.5)}
.mainPage-button-title{font-size: 60px; text-transform: uppercase; font-weight: 700;}
.mainPage-button-subtitle{font-size: 18px; }

.mainPage-left .mainPage-button,
.mainPage-right .mainPage-button {position: absolute; top: 50%; z-index: 5;}
.mainPage-left .mainPage-button {right:0; margin-top: -102px;border-radius: 10px 0 0 10px;color: #00304e;}
.mainPage-right .mainPage-button {left: 0;border-radius: 0 10px 10px 0;color: #ab5400;}


.hiddenRight {
-moz-transform: translateX(100%);
-webkit-transform: translateX(100%);
-o-transform: translateX(100%);
-ms-transform: translateX(100%);
transform: translateX(100%);}
.hiddenLeft {
-moz-transform: translateX(-100%);
-webkit-transform: translateX(-100%);
-o-transform: translateX(-100%);
-ms-transform: translateX(-100%);
transform: translateX(-100%);}

/* popup */
.popup {}
.popup-heading {text-align: center;margin-bottom: 15px;}
.popup-form {padding-top: 15px;}
.popup-form .form-row {margin-bottom: 14px;}
.popup-form .form-label {float: left; width: 80px; height: 40px;}
.popup-form .label-title {display: inline-block;vertical-align: middle;}
.popup-form .form-input {margin-left: 90px;width: 270px;}
.popup-form .form-submit {text-align: right; padding-top: 5px;}

/* clouds */
.cloudsBox {position: absolute;left: 0;top: 0; bottom: 0;z-index: 2;	width: 100%;}
.mainCloud {position: absolute;top:5%; left: 50%;margin-left: -178px;z-index: 6; width: 352px; 
font-size: 18px; text-align: center; padding: 44px 20px 24px 20px; font-family: 'Roboto Condensed', Arial, sans-serif; color: #242525;  background: url(../images/cloud.png) no-repeat center center; background-size: contain;
-webkit-transition: all 600ms ease-in;
-moz-transition: all 600ms ease-in;
-ms-transition: all 600ms ease-in;
-o-transition: all 600ms ease-in;
transition: all 600ms ease;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}
.mainCloud strong {font-size: 32px;font-weight: 700;}


.clouds2, .clouds3 {position: absolute; right: 100%; width: 1066px;}
.clouds2.init , .clouds3.init {right: auto;	left: 50%; margin-left: -533px;}

.clouds2  { bottom: 300px; height: 140px; background: url(../images/clouds2.png) no-repeat;z-index: 2;}
.clouds2.animated , .clouds2.init {
	-webkit-animation: moveClouds 200s linear infinite;
	-moz-animation: moveClouds 200s linear infinite;
	-o-animation: moveClouds 200s linear infinite;
	animation: moveClouds 200s linear infinite;
}

.clouds3 {bottom: 200px;height: 102px; background: url(../images/clouds3.png) no-repeat;}
.clouds3.animated, .clouds3.init {
	-webkit-animation: moveClouds 300s linear infinite;
	-moz-animation: moveClouds 300s linear infinite;
	-o-animation: moveClouds 300s linear infinite;
	animation: moveClouds 300s linear infinite;
}

.clouds2.init , .clouds3.init {
	background: none;
	-webkit-animation-iteration-count:1;
	animation-iteration-count:1;
}
.clouds2.init {
	-webkit-animation-name: moveClouds2Init;
	animation-name: moveClouds2Init ;
}
.clouds3.init {
	-webkit-animation-name: moveClouds3Init;
	animation-name: moveClouds3Init ;
}
 


/* move clouds  */
@-webkit-keyframes moveClouds {
	0% {		
	 	transform: translate3D(0,0,0);
  	}
 	100% {
    	transform: translate3D(2500px,0,0);
  	}
} 

/* clouds2 init */
@-webkit-keyframes moveClouds2Init {
	0% {
		background: url(../images/clouds2.png) no-repeat;
	 	transform: translate3D(0,0,0);
  	}
 	100% {
    	transform: translate3D(2500px,0,0);
  	}
}
/* clouds3 init */
@-webkit-keyframes moveClouds3Init {
	0% {
		background: url(../images/clouds3.png) no-repeat;
	 	transform: translate3D(0,0,0);
  	}
 	100% {
    	transform: translate3D(2500px,0,0);
  	}
} 



@-moz-keyframes moveclouds {
	
}
@-o-keyframes moveclouds {
	
}
@keyframes moveclouds{
 
}
